# 根据 core.autocrlf 进行转换（LF 或 CRLF）
# 建议 Windows 配置 `git config --global core.autocrlf true`
# 建议 macOS 和 Linux 配置 `git config --global core.autocrlf input`
* text=auto

# 脚本依赖于系统，强制使用 LF 或 CRLF
*.sh  text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf

######## 特定语言，例如C++ ########

# Sources
*.c     text=auto diff=cpp
*.cc    text=auto diff=cpp
*.cxx   text=auto diff=cpp
*.cpp   text=auto diff=cpp
*.cpi   text=auto diff=cpp
*.c++   text=auto diff=cpp
*.hpp   text=auto diff=cpp
*.h     text=auto diff=cpp
*.h++   text=auto diff=cpp
*.hh    text=auto diff=cpp

# Compiled Object files
*.slo   binary
*.lo    binary
*.o     binary
*.obj   binary

# Precompiled Headers
*.gch   binary
*.pch   binary

# Compiled Dynamic libraries
*.so    binary
*.dylib binary
*.dll   binary

# Compiled Static libraries
*.lai   binary
*.la    binary
*.a     binary
*.lib   binary

# Executables
*.exe   binary
*.out   binary
*.app   binary
